@import "../../mixins.scss";

/*Movie Grid CSS*/
.containerMovieList {
  display: flex;
  flex-direction: column;  
  padding-top: 75px;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  .stickyNav{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  .genreTag {
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 50px;
    border: solid 1px var(--secondary);
  }
  .genreTag:hover {
    background-color: var(--borders);
    cursor: pointer;
  }
  .selectedTag {
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 50px;
    border: solid 1px var(--secondary);
    background-color: var(--borders);
  }
  .sideBarGenres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
.moviesContainer {
  grid-column: span 3;
}
.containerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  margin: 0 auto;
  max-width: 75%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.movieCardContainer {
  position: relative;
  width: 280px;
  height: 420px;
  animation: fadeIn 1s ease-in-out forwards;
  border: 1px solid var(--borders);
  border-radius: 15px;
  box-shadow: 1px 2px 15px rgba(105, 105, 105, 0.356);
}
.movieCard {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 15px;
}
.generalGridSettings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleContainer,
.movieRatings {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  color: var(--input);
}
.movieRatings {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 14, 14, 0.452);
  padding: 0px 10px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}
.movieRatings p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  color: var(--input);
}
.movieRatings span {
  color: #e5a65e;
  margin-top: 2px;
}
.paginationContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px;
  max-width: 70%;
  margin: 0 auto;
  row-gap: 25px;
}
.loadMoreButton {
  justify-self: center;
}
.nextPageButton {
  justify-self: end;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/*Movie Show */
.movieBigContainer {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  border: 1px solid var(--borders);
  border-radius: 10px;
  margin-top: 50px;
  box-sizing: border-box;
}

.titleBigCard {
  font-size: var(--titulo-font-size);
  border-bottom: 1px solid var(--borders);
  padding-top: 1px;
  box-sizing: inherit;
  background-color: #30303075;
  border-radius: 10px 10px 0 0;
}
.movieBigCard {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #302f2f;
}
.bigCardText {
  text-align: start;
  text-wrap: balance;
  border: solid 1px var(--borders);
  padding: 15px;
  color: rgb(185, 185, 185);
  font-size: var(--texto-font-size);
}
.textCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.starColors {
  color: #e5a65e;
}
.streamInfoContainer {
  display: flex;
  border-color: var(--borders);
  padding: 15px;
  margin-bottom: 15px;
  justify-content: space-around;
  align-items: center;
}
.fieldSet {
  border-color: var(--borders);
  color: rgb(185, 185, 185);
}
.streamingIcon {
  width: 35px;
  margin: 0 3px;
  border-radius: 5px;
}