@import"../../../mixins.scss";

.heroBannerContainer {
  width: 100%;
  height: 450px;
  background-color: var(--black2);
  display: flex;
  align-items: center;
  position: relative;
  @include md {
    height: 105vh;
  }
  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    overflow: hidden;
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }  
}
.opacity-layer {
  width: 100%;
  height: 250px;
  background: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0) 0%,
    #131313 82.17%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}
.movieShowContent {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
  @include md {
      gap: 50px;
      flex-direction: row;
  }
  .leftContent {
  flex-shrink: 0;
  .posterImg {
    width: 100%;
    display: block;
    border-radius: 12px;
    @include md {
      max-width: 350px;
    }
  }
}
.rightContent {
  color: var(--white);
  .title {
    font-size: 28px;
    line-height: 40px;
    @include md {
      font-size: 34px;
      line-height: 44px;
    }
  }
  .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.5;
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .genresMovieShow{
    margin-bottom: 25px;
    flex-flow: row wrap;
    display: flex;
    gap: 15px;
    .genreMovieShowTag{
      border: 1px solid var(--secondary);
      background-color: var(--borders);
      border-radius: 10px;
      padding: 3px 8px;
    }  
  }
  .circleRating {
    max-width: 70px;
    background-color: var(--black2);
    @include md {
      max-width: 90px;
    }
    .CircularProgressbar-text {
      fill: var(--white);
    }
  }
  .rowMovieShowContent {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    .youtube-icon{
      display: flex;
      align-items: center;
      gap: 15px;
    }
    .trailerText{
      color: var(--white);
      font-size: 16px;
      @include md{
        font-size: 24px;
      }
    }    
  }
  .overview {
    margin-bottom: 25px;
    .heading {
      font-size: 24px;
      margin-bottom: 10px;
      text-decoration: underline;
    }
    .description {
      line-height: 24px;
      @include md {
        padding-right: 100px;
      }
    }
  }
  .streamingIconsContainer{
    display: flex;
    gap: 10px;
    .streamingIcon{
      width: 60px;
      border-radius: 10px;      
    }    
  }  
}
}