@import '../../mixins.scss';
.footerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0; 
  width: 100%;  
  
  .footerBar {
    width: 50%;
    border: none;
    border-top: solid 1px var(--borders);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footerInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include md{
      flex-direction: row;
      gap: 60px;
    }
    .footerInfo {      
      display: flex;      
      justify-content: center;
      margin-left: 5px;
      @include md{
        gap: 5px;
      }
    }
    .footerText {
      font-size: 10px;
      color: var(--input);
      @include md{
        font-size: 13px;
      }
    }
    .linkedIn {
      font-size: 30px;
      margin-top: 5px;
      @include md{
        margin: 0;
      }
    }
  }
  
  
}




